footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0 10vw;
    bottom: 0;
    height: 50px;
    width: 80vw;
    z-index: 1;
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
    /* background-color: rgba(238,238, 238, 0.5); */
    backdrop-filter: blur(10px);
}

.policy-link {
    font-family: "Exo-medium";
    font-size: 1em;
    color: #161616;
    text-decoration: none;
    margin: 10px auto;
}

@media (max-width: 768px) {

    footer{
        width: 40vw;
        z-index: 4;
        position: static;
        
    }
}