.hero-header{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 5vh auto;
}
.hero-text{
    display: block;
    width: 30%;
}
.hero-image{
    display: block;
    width: 70%;
    text-align: center;
    align-items: center;
    padding: auto;
}
.download-btn{

}
.promo-img{

    height: 600px;
}