.screens-shots{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.screen-card{
    display: block;
    margin: 20px 70px;
}

.screen-card img{
    height: 400px;
    transform: rotateX(10deg);
}