.screens-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.screens-shots{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.screen-card{
    display: block;
    margin: 20px 70px;
}

.screen-card .app-page{
    max-height: 550px;
}

.screen-card .app-page:hover {
    cursor: pointer;
    transform: rotate(5deg);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .screens-container{
        width: 80vw;
    }

    .screens-container h1{
       
        font-size: 1.2em;
                text-align: left;
            
    }
    .screens-shots {
            width: 100vw;
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: start;
            min-height: min-content;
            overflow-x: auto;
        }
                .screen-card:first-child {
                    margin-left: 0;
                    /* Usuwa lewy margines dla pierwszej karty, przesuwa ją bliżej krawędzi */
                }
        
                 .screen-card {
                     flex: 0 0 auto;
                     margin-right: 10px;
                 }
        
                 .screen-card .app-page {
                     max-height: 300px;
                     width: auto;
                     display: block;
                 }
        
                 .screen-card:last-child {
                     margin-right: 0;
                 }

                                 .screen-card img:hover {
                                     cursor: pointer;
                                     transform: rotate(0);
                                 }
}