@font-face {
    font-family: "Exo-medium";
    src:url("fonts/Exo2-Medium.ttf") format("ttf");
    font-family: "Exo-black";
    src: url("fonts/Exo2-Black.ttf") format("ttf");

}
body {
    background-color: #EEEEEE;

}

nav ul{
    width: 100vw;
    height: 50px;
    top: 0;
    background-color: antiquewhite;
    position: absolute;
    text-align: right;
}
ul{
    padding: 5px 50px 5px 20px;
}
li{
    display: inline;
    margin: 15px;
}
a {
    color: #161616;
    font-size: 1em;
    text-decoration: none;
    font-family: "Exo-medium";
    z-index: 2;
}
.main{
    display: flex;
    flex-direction: column;

}

h1{
    font-family: "Exo-black";
    font-size: 1.2em;
    color: #161616;
}

section{
    width: 100vw;
    height: 100vh;
    text-align: center;

}