
.theme-text{
    width:50%;
}

.theme-card{
    width:50%;
}

.theme-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.theme-buttons img{
    width: 100px;
    height: 100px;
    border-radius: 15px;

}

.theme-screen-img{
    height: 550px;
}